<div class="full-view">
    <form action="/api/auth/delete" method="post">
    <input type="text" placeholder="Enter ID" name="_id">
    <br><br>
    <button type="submit">DELETE</button>
</form>
</div>