<div class="full-view">
            <h3 class="center-align">Delete Data  </h3>

    <form action="/api/shipwreck/delete" method="post">
    <input type="text" placeholder="Enter ID" name="_id">
    <br><br>
    <button type="submit">DELETE</button>
</form>
</div>