<div class="full-view">
    <h3 class="center-align">You are on the home page: Click the Button</h3>
    <br>
    <h3 class="center-align">{{data}}</h3>
    <div class="token center-align">
        <p>{{newtoken}}</p>
    </div>
    

</div>

