<div class="full-view">
        <h3 class="center-align">Show Data </h3>

 <form action="/api/shipwreck/data" method="get">
    <input
      id="pages"
      type="text"
      placeholder="Enter Number of Pages"
      name="pages"
    />
    <br />
    <input id="perPage" type="text" placeholder="Enter Per Page" name="perPage" />
    <br />
    <input id="depth" type="text" placeholder="Depth:" name="depth" />
    <br /><br />
    <button type="submit" id="btn">Show Data</button>
  </form>
</div>

