<div class="full-view">
  <form>
    <input id="id1" type="text" placeholder="Enter ID" name="_id"/>
    <br /><br />
    <input type="button" id="findBtn" />
  </form>
    <table>
    <thead>
      <tr>
         <th> Feature Type</th>
          <th> Chart </th>
          <th> Latitude </th>
          <th> Longitude </th>
          <th> Dethth </th>
          <th> Water Level </th>
      </tr>
    </thead>
    <tbody id="shipWreckData">
      <tr>
        <td colspan="5">No Shipwreck data available.</td>
      </tr>
    </tbody>
  </table>
</div>
<script>
  let btn1 = document.querySelector("#findBtn") 
  let tableData = document.querySelector('#shipWreckData');
  let id = document.getElementById('id1').value


  btn1.onclick =  () =>  { 
fetch(`http://localhost:8000/api/shipwreck/data/578f6fa2df35c7fbdbaed8c5`)
        .then(res => res.json())
        .then(x => {
          console.log(x)
          if (x) {
            let html = '';
              html += `
                <tr>
                  <td>${x.feature_type}</td>
                  <td>${x.chart}</td>
                  <td>${x.latdec}</td>
                  <td>${x.londec}</td>
                  <td>${x.depth}</td>
                  <td>${x.watlev}</td>
                </tr>
              `;
            tableData.innerHTML = html;
            tableData.style.display = 'table-row-group';
          } else {
            tableData.innerHTML = `
              <tr>
                <td colspan="5">No Ship Wreck datadfse available.</td>
              </tr>
            `;
          }
        })
        .catch(error => console.error(error));
    };
</script>