<div class="full-view">
  <form action="/api/shipwreck/update" method="post">
    <input type="text" placeholder="Enter ID" name="_id" />
    <br />
    <input type="text" placeholder="Enter Feature Type" name="feature_type" />
    <br />
    <input type="text" placeholder="Enter Chart" name="chart" />
    <br />
    <input type="text" placeholder="Latitude:" name="latdec" />
    <br />
    <input type="text" placeholder="Longitude:" name="londec" />
    <br />
    <input type="text" placeholder="Enter Depth" name="depth" />
    <br />
    <input type="text" placeholder="Enter Water Level" name="watlev" />
    <br /><br />
    <button type="submit">UPDATE</button>
  </form>
</div>